@model IEnumerable<EmpAppCoreEF_Self.Models.DepartmentModel>

@{
    ViewData["Title"] = "Department Details";
}

<h2>Department Details</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <input type="hidden" value="0" id="hdnDeptId" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Department Name </label>
                    <input type="text" id="txtDeptName" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="margin-top:23px;">
                    <input type="button" id="btnSaveDeptData" value="Save" class="btn btn-primary" />
                    <input type="button" id="btnCancel" value="Cancel" class="btn btn-group" />
                </div>
            </div>

        </div>

        <div class="panel panel-default" style="margin-top:15px;">
            <div class="panel-body">
                <div class="col-md-12">
                    <table id="tblDeptData" class="table-responsive table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Department Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<environment include="Development">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            GetDeptDataLoad();
            $('#tblDeptData').dataTable();
            $('#tblDeptData_filter input').addClass('form-control');
            $('#tblDeptData_length select').addClass('form-control');
        });

        function GetDeptDataLoad() {
            if ($.fn.dataTable.isDataTable('#tblDeptData')) {
                $('#tblDeptData').DataTable().draw();
            }
            Table = $('#tblDeptData').DataTable({
                "processing": true,
                "serverSide": false,
                "paging": true,
                "ordering": false,
                "info": true,
                "searching": true,
                "bFilter": false,
                "scrollX": "100%",
                "scrollY": ($(window).height() - 400),
                "sScrollXInner": "100%",
                "bScrollCollapse": true,
                "sAjaxSource": '@Url.Action("GetDepartmentDataLoad", "Department")',
                "bDestroy": true,
                "bLengthChange": true,
                "bPaginate": true,
                "sEmptyTable": "Loading data from server",
                "columns": [

                    {
                        "sWidth": "5%", "sClass": "TextCenter DeptName",
                        "render": function (data, type, row) {
                            return (row[1]);
                        }
                    },
                    {
                        "bSortable": false,
                        "sClass": "TextCenter",
                        "sWidth": "3%",
                        "render": function (data, type, row) {
                            return '<center><a href="javascript:void(0);"  onclick=EditData("' + row[0] + '"); return false;> <i class="glyphicon glyphicon-edit"></i></a> ' +
                                '<a href="javascript:void(0);"  onclick=deleteData("' + row[0] + '"); return false;> <i class="glyphicon glyphicon-trash"></i></a></center>';
                        },
                        "targets": 0,
                    }
                ],
            });
        }

        function EditData(getDId) {
                $.ajax({
                    url: '@Url.Action("EditDepartmentData", "Department")',
                    type: 'POST',
                    data: { "id": getDId},
                    success: function (result) {
                        if (result != null) {
                            $("#txtDeptName").val(result.deptName);
                            $("#hdnDeptId").val(result.deptId);
                        }
                      }
                });

            $('#btnSaveDeptData').val("Update");
        }

        function deleteData(DelId) {
            if (confirm("Are you sure want to delete this Department?")) {
                $.ajax({
                    url: '@Url.Action("DeleteDepartment", "Department")',
                    type: 'POST',
                    data: { "id": DelId},
                    success: function (result) {
                          if (result == "Deleted") {
                              $.alert("Delete data successfully", {
                                  title: false,
                                  closeTime: 3000,
                              });
                          }
                          else if (result =="EmployeeIsThere")
                          {
                              $.alert("This Department can not be deleted as there is Employee on this department", {
                                  title: false,
                                  closeTime: 3000,
                              });
                          }
                          else {
                              $.alert("Data is not deleted successfully", {
                                  title: false,
                                  closeTime: 3000,
                              });
                          }
                        GetDeptDataLoad();
                        ClearData();
                      }
                });
            }
            return false;
        }

        $("#btnSaveDeptData").click(function () {
            if (ValidateDepartment()) {
                $.ajax({
                    type: "POST",
                    url: "Department/SaveData",
                    data: { DeptId: $("#hdnDeptId").val(), DeptName: $("#txtDeptName").val() },
                    success: function (result) {
                        if (result == "Saved") {
                            $.alert("Data Saved Successfully", {
                                title: false,
                                closeTime: 3000,
                            });
                        }
                        else {
                            $.alert("Data Updated Successfully", {
                                title: false,
                                closeTime: 3000,
                            });

                            $('#btnSaveDeptData').val("Save");
                        }
                        GetDeptDataLoad();
                        ClearData();
                    }
                });
            }
            else {
                return false;
            }

          
        });

        $("#btnCancel").click(function () {
            ClearData();
            $('#btnSaveDeptData').val("Save");
        });

        function ClearData() {
            $("#txtDeptName").val('');
            $("#hdnDeptId").val(0);
        }

        function ValidateDepartment() {
            var flag = true;
            if (!ValidationRequired($("#txtDeptName"), "Department Name required", 'after')) {
                flag = false;
            }
            return flag;
        }


    </script>

</environment>
