@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Hello,<br /> Welcome to Employee Management Application</h2>
        <ul>
            <li>For Adding Department <a asp-controller="Department" asp-action="Index">Click Here</a></li>
            <li>For Adding Employee <a asp-controller="Employee" asp-action="EmployeeIndex">Click Here</a> </li>
        </ul>
    </div>
   
</div>
